.sidebar {
  height: 100%;
  background-color: #1c222b;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 82px 25px;
}

.menuItem {
  padding: 15px 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer{
  padding: 80px 0px 0px;
}

.menuItem {
  padding: 10px;
  cursor: pointer;
  align-items: center;
  justify-items: center;
  display: flex;
  gap: 10px;
}

.menuItem:hover {
  background-color: #94DA22;
  border-radius: 20px;
  color: black;
}

.active {
  background-color: #94DA22;
  color: black;
  font-weight: bold;
  border-radius: 20px;
}

