.sidebar {
  height: 100%;
  width: 180px;
  background-color: #242731;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo{
  padding: 10px;
  align-items: center;
  justify-items: center;
  margin-bottom: 10px;
  font-size: 20px;
  color: #94DA22;
}

.menuItem {
  padding: 10px;
  cursor: pointer;
  align-items: center;
  justify-items: center;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.menuItem:hover {
  background-color: #94DA22;
  border-radius: 20px;
  color: black;
}

.active {
  background-color: #94DA22;
  color: black;
  font-weight: bold;
  border-radius: 20px;
}

.menuItem.active {
  background-color: #94DA22; /* Highlight the active item */
  color: black;
  font-weight: bold;
}


