.container {
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: #ffffff;
}

th,
td {
  padding: 10px;
  text-align: left;
  color: white;
  white-space: nowrap; 
  overflow: hidden;    
  text-overflow: ellipsis; 
}

