.container {
  padding: 10px;
}

.content {
  width: 100%;
  border-collapse: collapse;
  color: #ffffff;
}

.content th, td {
  padding: 10px;
  text-align: left;
  color: white;
  white-space: nowrap; 
  overflow: hidden;    
  text-overflow: ellipsis; 
}

.text td {
  color: white;
  white-space: nowrap; 
  overflow: hidden;    
  text-overflow: ellipsis; 
}

