.Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.FormContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
}

.PersonalInfoAddress{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.PersonalInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.PersonalInfoInput select{
    padding: 10px;
    width: 235px;
}

.PersonalInfoSelect select{
    padding: 10px;
    width: 725px;
}

.PersonalInfoInput input{
    padding: 10px;
    width: 700px;
}

.PersonalInfoSubmit button{
    padding: 10px 20px;
    background-color: yellow;
    cursor: pointer;
}

.PersonalInfoSubmit button:hover{
    background-color: lightgreen;
}

.Alert{
    color: red;
    background-color: lightgray;
    padding: 20px 200px;
}