.infobox {
  border: 1px solid black;
  width: 250px;
  padding: 5px;
  cursor: pointer;
}

.infocontent {
  display: flex;
  flex-direction: column;
  max-height: 400px; 
  overflow-y: auto; 
  border: 1px solid black;
}

.infocontainer {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  
}

.map {
  height: 100%; /* Ensure this is enough to display the map */
  width: 1000px; /* Set full width */
}

.searchContainer{
  display: flex;
  flex-direction: column;
}

.searchContainer input{
  padding: 5px;
}

.FindOrderInput select{
  padding: 5px;
  width: 263px;
}
