.container {
  display: flex;
  justify-content: row;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  gap: 100px;
}

.content {
  flex: 1;
  padding-right: 20px;
}

.img {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image {
  max-width: 120%;
  height: 800px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.postInfoAddress {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.postInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.postInput select {
  padding: 10px;
  width: 185px;
}

.postInput input {
  padding: 10px;
  width: 550px;
}

.postSubmit button {
  padding: 10px 20px;
  background-color: yellow;
  cursor: pointer;
}

.postSubmit button:hover {
  background-color: lightgreen;
}

.alert {
  color: red;
  background-color: lightgray;
  padding: 20px 200px;
}
